@import "tailwindcss";

@theme {
  --color-violet: #c4c3e3;
  --color-midnight: #504e76;
  --color-midnight-60: rgb(80, 78, 118, 0.6);
  --color-midnight-40: rgb(80, 78, 118, 0.4);
  --color-midnight-20: rgb(80, 78, 118, 0.2);
  --color-daylight: #fdf8e2;
  --color-grass: #a3b565;
  --color-sun: #fcdd9d;
  --color-hot: #f1642e;
  --color-white-40: rgb(255, 255, 255, 0.4);
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

input,
textarea {
  /* background: transparent; */
  outline: none;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background: #a3b565;
}
body::-webkit-scrollbar-track {
  background: #fdf8e2;
}

.custom-scroll-x::-webkit-scrollbar {
  height: 0px;
}

.custom-scroll-x:hover::-webkit-scrollbar {
  height: 4px;
}

.custom-scroll-x::-webkit-scrollbar-thumb {
  background: #c4c3e3;
  border-radius: 999px;
}
